@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* introduction style starts */ 

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 1rem 2rem;
}

#intro div:nth-child(1) {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

#intro div:nth-child(2) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./img/intro.jpg');
  background-position: center;
  background-size: cover;
}

#intro div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#intro div:nth-child(3) h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
}

#intro div:nth-child(3) p {
  font-weight: 300;
  color: #333;
  opacity: 0.8;
}

#intro div:nth-child(3) button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 3rem;
  background-color: white;
  border: 1.2px solid rgba(51, 51, 51, 0.689);
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  word-spacing: 0.2rem;
  color: #333;
  transition: all 0.2s ease-in-out;
}

#intro div:nth-child(3) button:hover {
  background-color: #333;
  color: white;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #intro div:nth-child(3) p {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 200px;
    height: 200px;
  }

  #intro div:nth-child(3) {
    width: 40%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 300px;
    height: 300px;
  }

  #intro div:nth-child(3) {
    width: 30%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

@media (min-width: 1400px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 300px;
    height: 300px;
  }

  #intro div:nth-child(3) {
    width: 30%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

/* introduction style ends*/ 

/* services style starts */

#services {
  background-color: rgb(252, 252, 252);
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

#services h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
  position: relative;
}

#services h1:before {
  content: '';
  width: 4rem;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: -50%;
  left: 50%;
  opacity: 0.8;
  transform: translateX(-50%);
}

#services p {
  font-weight: 400;
  color: #333;
  opacity: 0.7;
}

#services > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

#services > div div {
  border: 1.5px solid #333;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 50%;
  position: relative;
}

#services > div div i {
  font-size: 2rem;
  color: #333;
}

#services button {
  background-color: white;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #333;
  opacity: 0.8;
  letter-spacing: 4px;
}

@media (min-width: 992px) and (max-width: 1199.98px)  {

  #services > div {
    width: 70%;
  }

  #services button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

}

@media (min-width: 1200px)  {

  #services {
    gap: 3rem;
  }

  #services > div {
    width: 50%;
  }

  #services button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

  #services p{
    width: 60%;
  }

}

/* services style ends */