@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* introduction section style starts */ 

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 1rem 2rem;
}

#intro div:nth-child(1) {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.2rem;
}

#intro div:nth-child(2) {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('./img/intro.jpg');
  background-position: center;
  background-size: cover;
}

#intro div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

#intro div:nth-child(3) h1 {
  font-size: 3rem;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
}

#intro div:nth-child(3) p {
  font-weight: 300;
  color: #333;
  opacity: 0.8;
}

#intro div:nth-child(3) button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 3rem;
  background-color: white;
  border: 1.2px solid rgba(51, 51, 51, 0.689);
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  word-spacing: 0.2rem;
  color: #333;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#intro div:nth-child(3) button:hover {
  background-color: #333;
  color: white;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #intro {
    padding: 3rem 4rem;
  }

  #intro div:nth-child(3) p {
    width: 80%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 200px;
    height: 200px;
  }

  #intro div:nth-child(3) {
    width: 40%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 300px;
    height: 300px;
  }

  #intro div:nth-child(3) {
    width: 30%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

@media (min-width: 1400px) {
  #intro {
    padding: 0;
    flex-direction: row;
    height: 100vh;
  }

  #intro div:nth-child(2) {
    width: 300px;
    height: 300px;
  }

  #intro div:nth-child(3) {
    width: 30%;
    text-align: start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #intro div:nth-child(3) button {
    width: 40%;
    padding: 0.7rem 0;
    font-size: 0.7rem;
  }
}

/* introduction section style ends*/ 

/* services section style starts */

#services {
  background-color: rgb(252, 252, 252);
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

#services h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
  position: relative;
}

#services h1:before {
  content: '';
  width: 4rem;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: -50%;
  left: 50%;
  opacity: 0.8;
  transform: translateX(-50%);
}

#services p {
  font-weight: 400;
  color: #333;
  opacity: 0.7;
}

#services > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 2rem;
}

#services > div div {
  border: 1.5px solid #333;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  border-radius: 50%;
  position: relative;
}

#services > div div i {
  font-size: 2rem;
  color: #333;
}

#services button {
  background-color: white;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #333;
  opacity: 0.8;
  letter-spacing: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#services button:hover {
  background-color: #333;
  color: white;
}

@media (min-width: 768px) and (max-width: 991.98px)  {
  #services {
    padding: 3rem 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px)  {

  #services {
    padding: 3rem 6rem;
  }
  #services > div {
    width: 70%;
  }

  #services button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

}

@media (min-width: 1200px)  {

  #services {
    gap: 3rem;
  }

  #services > div {
    width: 50%;
  }

  #services button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

  #services p{
    width: 60%;
  }

}

/* services section style ends */

/* blogs section style starts */

#blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  gap: 1.5rem;
  text-align: center;
}

#blog h1,
#blog h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #333;
  opacity: 0.8;
  position: relative;
}

#blog h1:before,
#blog h2:before {
  content: '';
  width: 4rem;
  height: 2px;
  background-color: #333;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

#blog p {
  font-weight: 400;
  color: #333;
  opacity: 0.7;
}

#blog > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#blog > div > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#blog > div > div div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#blog img {
  width: 100%;
  border-radius: 1rem;
}

#blog button {
  background-color: white;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #333;
  opacity: 0.8;
  letter-spacing: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#blog button:hover {
  background-color: #333;
  color: white;
}

#blog hr {
  width: 100%;
  opacity: 0.5;
  margin: 1.5rem 0;
}

@media (min-width: 768px) and (max-width: 991.98px)  {
  #blog {
    padding: 3rem 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  #blog {
    padding: 4rem;
  }
  #blog button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

  #blog > div {
    gap: 4rem;
  }

  #blog > div > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  #blog > div > div:nth-child(even) {
    flex-direction: row-reverse;
  }

  #blog > div > div > * {
    width: calc(95% / 2);
  }

  #blog > div > div div {
    text-align: left;
  }

  #blog h2:before {
    left: 0;
    transform: translateX(0);
  }

  #blog > div > div div button {
    width: fit-content;
  }
}

@media (min-width: 1200px) {
  #blog {
    padding: 6rem;
  }

  #blog h1,
  #blog h2 {
    font-size: 2rem;
    opacity: 0.6;
  }

  #blog button {
    width: auto;
    padding: 0.8rem 1.5rem;
    font-size: 0.7rem;
  }

  #blog > div {
    gap: 4rem;
  }

  #blog > div > div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  #blog > div > div:nth-child(even) {
    flex-direction: row-reverse;
  }

  #blog > div > div > * {
    width: calc(95% / 2);
  }

  #blog > div > div div {
    text-align: left;
    gap: 2rem;
  }

  #blog h2:before {
    left: 0;
    transform: translateX(0);
  }

  #blog > div > div div button {
    width: fit-content;
  }
}
/* blogs section style ends */

/* duis section style starts */

#duis {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-image: url('./img/street.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  padding: 3rem 1rem;
  position: relative;
  gap: 1.5rem;
}
#duis > * {
  z-index: 1000;
}

#duis div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 63, 60, 0.753);
  z-index: 0;
}

#duis button {
  background-color: inherit;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 3rem;
  border: 1px solid #fff;
  opacity: 0.8;
  letter-spacing: 4px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
}

#duis button:hover {
  background-color: #fff;
  color: #333;
}

#duis h1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  position: relative;
}

#duis p {
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #duis {
    padding: 3rem 4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #duis {
    padding: 4rem;
  }

  #duis h1 {
    font-size: 2rem;
  }

  #duis button {
    width: auto;
    padding: 0.8rem 2rem;
  }

  #duis p {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  #duis {
    padding: 6rem;
  }

  #duis h1 {
    font-size: 2rem;
  }

  #duis button {
    width: auto;
    padding: 0.8rem 2rem;
  }

  #duis p {
    width: 50%;
  }
}
/* duis section style ends */